* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1 {
  color: #899d94;
  text-align: center;
  margin: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  padding: 20px;
  padding-top: 40px;
}

main h2,
main p {
  color: #ffffff;
  text-align: center;
}

.info-box {
  margin: 20px;
}
.kasse {
  background-color: #899d94;
  margin: 20px;
  padding: 20px;
  border-radius: 30px;
}

.knap {
  text-align: center;
  margin: 40px;
}

button {
  text-align: center;
  background-color: #ffffff;
  border: 4px solid #899d94;
  margin: 20px;
  padding: 20px 30px;
  border-radius: 30px;
}

button:hover {
  background-color: #c2cdc6;
  color: #ffffff;
}

.cta {
  font-weight: 200;
}

@media (min-width: 800px) {
  .info-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .kasse {
    background-color: #899d94;
    margin: 20px;
    padding: 40px;
  }
}
